body {
    margin: 0;
    overflow: hidden; /* Prevents horizontal scrolling */
    height: 100vh; /* Set body height to 100% of the viewport height */
    display: flex; /* Use flexbox */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
}

iframe {
    width: 128%; /* Increase size by 15% */
    height: 104vh;
    max-width: 1920px;
    max-height: 1080px;
    display: block; /* Remove any default inline styles */
}
